:root {
  --size: 16px;
  --borderLight: 1px solid lightgray;
}

html {
  display: flex;
  justify-content: center;
  min-width: 380px;
  height: 100%;
}

body {
  height: 100%;
}

h1,
h2,
h3 {
  align-self: center;
  margin: calc(var(--size)) 0;
}

h1 {
  font-size: calc(var(--size) * 3);
}

h2 {
  font-size: calc(var(--size) * 2);
}

h3 {
  font-size: calc(var(--size) * 1.5);
}

.app {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: 1fr;
  justify-items: center;
  border: var(--borderLight);
}

header {
  display: flex;
  justify-content: center;
}

header > h1 {
  align-self: center;
}

main {
  display: grid;
  grid-template-rows: 1fr min-content min-content min-content auto;
  grid-row-gap: calc(var(--size) * 2);
  width: calc(var(--size) * 24);
  padding-bottom: calc(var(--size) * 2);
  text-align: center;
}

footer {
  display: flex;
  align-items: center;
}

.button {
  width: calc(var(--size) * 6);
  height: fit-content;
  justify-self: center;
}

.input {
  width: calc(var(--size) * 20);
  justify-self: center;
}

.display {
  display: flex;
  justify-self: center;
  width: calc(var(--size) * 20);
  height: calc(var(--size) * 13);
  margin: calc(var(--size)) 0;
  border: var(--borderLight);
  overflow: auto;
}

.display pre {
  text-align: left;
}

/* Media queries */
@media screen and (min-width: 768px) {
  main {
    width: calc(var(--size) * 28);
  }
}

@media screen and (min-width: 1280px) {
  main {
    width: calc(var(--size) * 36);
  }

  .input {
    width: calc(var(--size) * 22);
  }

  .display {
    width: calc(var(--size) * 28);
    height: calc(var(--size) * 14);
  }
}
